{% extends 'base.html.twig' %}

{% block title %}New Answer{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-body">
            <div class="clearfix">
                <h4 class="card-title float-left">Create New Answer</h4>
            </div>

            <div class="chartjs-size-monitor">
                <div class="chartjs-size-monitor-expand"><div class=""></div></div>
                <div class="chartjs-size-monitor-shrink"><div class=""></div></div>
            </div>

            <div class="mt-4">
                <form method="post">
                    {{ form_row(form._token) }}
                    <!-- Question Dropdown -->
                    <div class="mb-3">
                        {{ form_label(form.question, 'Select Question', {'label_attr': {'class': 'form-label'}}) }}
                        {{ form_widget(form.question, {'attr': {'class': 'form-select'}}) }}
                        {{ form_errors(form.question) }}
                    </div>

                    <!-- Answer Text Field -->
                    <div class="mb-3">
                        {{ form_label(form.text, 'Answer Text', {'label_attr': {'class': 'form-label'}}) }}
                        {{ form_widget(form.text, {'attr': {'class': 'form-control'}}) }}
                        {{ form_errors(form.text) }}
                    </div>

                    <!-- Is Correct Checkbox -->
                    <div class="mb-3 form-check ps-4">
                        {{ form_widget(form.isCorrect, {'attr': {'class': 'form-check-input'}}) }}
                        {{ form_label(form.isCorrect, 'Is Correct?', {'label_attr': {'class': 'form-check-label ms-2'}}) }}
                        {{ form_errors(form.isCorrect) }}
                    </div>


                    <!-- Submit & Back Buttons -->
                    <div class="mb-3">
                        <button type="submit" class="btn btn-gradient-primary">Save</button>
                        <a href="{{ path('app_answer_index') }}" class="btn btn-secondary">Back to list</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
