{% extends 'base.html.twig' %}

{% block title %}Product List{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-body">
            <div class="clearfix">
                <h4 class="card-title float-left">Products List</h4>
                <a href="{{ path('app_produit_new') }}" class="btn btn-gradient-primary float-right"><i class="mdi mdi-plus"></i> Create New Product</a>
            </div>

            <div class="table-responsive mt-4">
                <table class="table table-hover w-100">
                    <thead class="table-light">
                        <tr>
                            <th>Nom</th>
                            <th>Description</th>
                            <th>Type</th>
                            <th>Date</th>
                            <th>Prix</th>
                            <th>Image</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for produit in produits %}
                        {% set img = produit.image %}
                            <tr>
                                <td>{{ produit.nom }}</td>
                                <td>{{ produit.description }}</td>
                                <td>{{ produit.type }}</td>
                                <td>{{ produit.date ? produit.date|date('Y-m-d H:i:s') : '' }}</td>
                                <td>{{ produit.prix }} <b>DT</b></td>
                                <td><img style="height:65px;width:65px;" src="{{ asset(img) }}"></td>
                                <td>
                                    <a class="btn btn-sm btn-outline-warning" href="{{ path('app_produit_show', {'id': produit.id}) }}">Show</a>
                                    <a class="btn btn-sm btn-outline-success" href="{{ path('app_produit_edit', {'id': produit.id}) }}">Edit</a>
                                    {{ include('produit/_delete_form.html.twig') }}
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="8">No Products Found</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    
{% endblock %}
