{% extends 'base.html.twig' %}

{% block title %}Commande List{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-body">
            <div class="clearfix">
                <h4 class="card-title float-left">Commands List</h4>
                <a href="{{ path('app_commande_new') }}" class="btn btn-gradient-primary float-right"><i class="mdi mdi-plus"></i> Create New Command</a>
            </div>

            <div class="table-responsive mt-4">
                <table class="table table-hover w-100">
                    <thead class="table-light">
                        <tr>
                            <th>Date</th>
                            <th>Totale</th>
                            <th>Statut</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for commande in commandes %}
                            <tr>
                                <td>{{ commande.date ? commande.date|date('Y-m-d H:i:s') : '' }}</td>
                                <td>{{ commande.totale }} <b>DT</b></td>
                                <td>{{ commande.statut }}</td>
                                <td>
                                    <a class="btn btn-sm btn-outline-warning" href="{{ path('app_commande_show', {'id': commande.id}) }}">Show</a>
                                    <a class="btn btn-sm btn-outline-success" href="{{ path('app_commande_edit', {'id': commande.id}) }}">Edit</a>
                                    {{ include('commande/_delete_form.html.twig') }}
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="5">No Commands Found</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    
{% endblock %}
