{% extends 'base.html.twig' %}

{% block title %}Book Appointment{% endblock %}

{% block body %}
    <h1>Book an Appointment</h1>

    {{ form_start(form) }}
        {{ form_row(form.clientName) }}
        {{ form_row(form.doctorName) }}
        {{ form_row(form.appointmentDate) }}
        
        <button class="btn">Book Appointment</button>
    {{ form_end(form) }}
{% endblock %}
