<!DOCTYPE html>
<html class="no-js" lang="zxx">
    <head>
        <!-- Meta Tags -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="keywords" content="Site keywords here">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
        <!-- Title -->
        <title>{% block title %}Front Quiz{% endblock %}</title>
        
        <!-- Favicon -->
        <link rel="icon" href="{{ asset('/assets-front/img/favicon.png') }}">
        
        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Poppins:200i,300,400,500,600,700,800,900&display=swap" rel="stylesheet">

        <!-- CSS Assets -->
        <link rel="stylesheet" href="{{ asset('/assets-front/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('/assets-front/css/nice-select.css') }}">
        <link rel="stylesheet" href="{{ asset('/assets-front/css/font-awesome.min.css') }}">
        <link rel="stylesheet" href="{{ asset('/assets-front/css/icofont.css') }}">
        <link rel="stylesheet" href="{{ asset('/assets-front/css/slicknav.min.css') }}">
        <link rel="stylesheet" href="{{ asset('/assets-front/css/owl-carousel.css') }}">
        <link rel="stylesheet" href="{{ asset('/assets-front/css/datepicker.css') }}">
        <link rel="stylesheet" href="{{ asset('/assets-front/css/animate.min.css') }}">
        <link rel="stylesheet" href="{{ asset('/assets-front/css/magnific-popup.css') }}">
        <link rel="stylesheet" href="{{ asset('/assets-front/css/normalize.css') }}">
        <link rel="stylesheet" href="{{ asset('/assets-front/style.css') }}">
        <link rel="stylesheet" href="{{ asset('/assets-front/css/responsive.css') }}">
        
    </head>
    <body>
        <!-- Preloader -->
        <div class="preloader">
            <div class="loader">
                <div class="loader-outter"></div>
                <div class="loader-inner"></div>
                <div class="indicator">
                    <svg width="16px" height="12px">
                        <polyline id="back" points="1 6 4 6 6 11 10 1 12 6 15 6"></polyline>
                        <polyline id="front" points="1 6 4 6 6 11 10 1 12 6 15 6"></polyline>
                    </svg>
                </div>
            </div>
        </div>
        <!-- End Preloader -->
        
        <!-- Header -->
        <header class="header">
            <div class="topbar">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-5 col-12">
                            <ul class="top-link">
                                <li><a href="#">About</a></li>
                                <li><a href="#">Contact</a></li>
                                <li><a href="#">FAQ</a></li>
                            </ul>
                        </div>
                        <div class="col-lg-6 col-md-7 col-12">
                            <ul class="top-contact">
                                <li><i class="fa fa-phone"></i>+1234 56789</li>
                                <li><i class="fa fa-envelope"></i><a href="mailto:support@example.com">support@example.com</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="header-inner">
                <div class="container">
                    <div class="inner">
                        <div class="row">
                            <div class="col-lg-3 col-md-3 col-12">
                                <div class="logo">
                                    <a href="{{ path('app_front_quiz_index') }}">
                                        <img src="{{ asset('/assets-front/img/logo.png') }}" alt="Logo">
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-7 col-md-9 col-12">
                                <div class="main-menu">
                                    <nav class="navigation">
                                        <ul class="nav menu">
                                            <li><a href="{{ path('app_front_quiz_index') }}">Quizzes</a></li>
                                            <li><a href="#">Leaderboard</a></li>
                                            <li><a href="#">Profile</a></li>
                                            <li><a href="#">Contact</a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                            <div class="col-lg-2 col-12">
                                <div class="get-quote">
                                    <a href="#" class="btn">Login</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- End Header -->
        
        <!-- Main Content Block -->
        <div class="main-content">
            <div class="container mt-5">
                {% block body %}{% endblock %}
            </div>
        </div>
        <!-- End Main Content -->

        <!-- Footer -->
        <footer id="footer" class="footer">
            <div class="footer-top">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 col-md-6 col-12">
                            <div class="single-footer">
                                <h2>About Us</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                <ul class="social">
                                    <li><a href="#"><i class="icofont-facebook"></i></a></li>
                                    <li><a href="#"><i class="icofont-twitter"></i></a></li>
                                    <li><a href="#"><i class="icofont-instagram"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-12">
                            <div class="single-footer">
                                <h2>Quick Links</h2>
                                <ul>
                                    <li><a href="#">Home</a></li>
                                    <li><a href="#">Quizzes</a></li>
                                    <li><a href="#">Leaderboard</a></li>
                                    <li><a href="#">Contact</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-12">
                            <div class="single-footer">
                                <h2>Contact</h2>
                                <p>Email: support@example.com</p>
                                <p>Phone: +1234 56789</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- End Footer -->

        <!-- JavaScript Files -->
        <script src="{{ asset('/assets-front/js/jquery.min.js') }}"></script>
        <script src="{{ asset('/assets-front/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('/assets-front/js/slicknav.min.js') }}"></script>
        <script src="{{ asset('/assets-front/js/owl-carousel.js') }}"></script>
        <script src="{{ asset('/assets-front/js/main.js') }}"></script>
    </body>
</html>
